<div class="top-nav">
 

 <nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../assets/images/logo_transparent.png"  alt="" id="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" id="home">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="purchase">Purchase</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Contact
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item"  href="#">FAQ</a></li>
            <li><a class="dropdown-item" href="#">Voice Up</a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
            <li><a class="dropdown-item" href="#">Promotion</a></li>
          </ul>
        </li>
        <li>
 
        </li>
      </ul>
      <form class="d-flex">
      <a href="https://www.facebook.com/SolveItAfricaFoundation"><i class="fa fa-facebook-square" aria-hidden="true"></i></a> 
    <a href="https://twitter.com/SolveItAfrica_F"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fapi.whatsapp.com%2Fsend%3Fphone%3D27732893574%26app%3Dfacebook%26entry_point%3Dpage_cta%26fbclid%3DIwAR0z-UKYdFq9FyfBn4yrBGFhdBb8Q7ewgQaBYKSdtVHlH3cGDn-SYiDyNPs&h=AT2bUAKNyJOSJJ1wcMyV-PddxdnMxtKAAmxhvmNhpQAmFWvYINseFq1ioobselq5zGvPoNy3GO14LbWShL7LzMdxA_DgcQwAlsRWxV1pPoTuKZZqqHQ0IxV5snxBFutpVwzte1CTwpo3MJoEBS4"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> 
      </form>
    </div>
  </div>
</nav>

</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

<div class="bottom-nav">
  <nav>
    <i class="fa fa-map-marker" aria-hidden="true" id="loc-icon"></i>
    <span class="loc_text">
     Phuthaditjhaba, Free State, South Africa
    </span>
  
   
  
   </nav>
</div>

